#body1
{margin: 0px;
padding: 0px;
border: 0px;
background-color: #0202ed;}

#entrance{
    height: 950px;
   
    align-content: center;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}
#enter{
   
    position: absolute;
    align-content: center;
    top: 500px;
    left: 800px;
    color:white;
    font-size: 20px;
   z-index: 1;
    
}


#body2{    background-color: #6e00c2;
  
}

#inside1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width:1700px;
   
    margin: 0px;
    padding: 0px;
    border:0px;
      
}
#inside2{
    position: absolute;
    right: 0px;
    top: 0px;
    width:1500px;
   
    margin: 0px;
    padding: 0px;
    border:0px;
    
}
#body3{
    background-color: aqua;
}
#planet1{
    position: absolute;
    height: 300px;
    top: 100px;
    left: 300px;
    
    
}
#planet2{
    position: absolute;
    height: 150px;
    top: 80px;
    right: 200px;
   
}
#planet3{
    position: absolute;
    height: 150px;
    top: 500px;
    right: 200px;
   
}

#planet4{
    position: absolute;
    height: 270px;
    top: 650px;
   left: 200px;
   
}

#planet5{
    position: absolute;
    height: 100px;
    top: 400px;
   left: 100px;
   
}

#body4
{
    background-color: #f4802a;
}

#inside3{
       position: absolute;
   left: 0px;
    bottom: 0px;
    width:1200px;
   
    margin: 0px;
    padding: 0px;
    border:0px;
    
}

#planet6{
    position: absolute;
    height: 270px;
    top: 650px;
   left: 200px;
   
}

#planet7{
    position: absolute;
    height: 100px;
    top: 100px;
   left: 100px;
   
}
#planet8{
    position: absolute;
    height: 100px;
    top: 400px;
   right: 200px;
   
}
#planet9{
    position: absolute;
    height: 70px;
    top: 200px;
   right: 600px;
   
}
#inside4{
       position: absolute;
 
    width:1400px;
   left:150px;
    margin: 0px;
    padding: 0px;
    border:0px;
    
}
#body5
{
    background-color: #304442;
}

#planet10{
    position: absolute;
    height: 50px;
    top: 300px;
   right: 500px;
   
}
#planet11{
    position: absolute;
    height: 70px;
    top: 700px;
   left: 320px;
   
}
#planet12{
    position: absolute;
    height: 30px;
    top: 350px;
   right: 520px;
   
}
#planet13{
    position: absolute;
    height: 30px;
    top: 150px;
    left: 530px;
   
}
#planet14{
    position: absolute;
    height: 90px;
    top: 800px;
   right: 300px;
   
}
#planet15{
    position: absolute;
    height: 30px;
    top: 650px;
    left: 700px;
   
}
#exit{
    top:0px;
    right: 200px;
    position:absolute;
    width: 800px;
}
#body6{
    background-color: #898989;
}
#smokingarea{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1700px;
    z-index: -1;
}
#exitt{
   
    position: absolute;
    top: 750px;
    left: 1350px;
    color:white;
    font-size: 20px;
   
    
}
#body7{
    background-image: url(deep.png);
    background-size: cover;
    width:900px;
    background-repeat: no-repeat;
    
}